@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

@font-face {
    font-family: DDDIsometric;
    src: url(fonts/3DIsometric-Black.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
}

header > h1 {
    background-color: rgba(0, 0, 0, 40%);
    font-family: DDDIsometric;
    text-align: center;
    font-size: 6dvw;
    color: white;
    padding: 20px;
}

header > h3 {
    background-color: rgba(0, 0, 0, 40%);
    border-top: 1px solid rgba(255, 255, 255, 40%);
    font-family: Poppins;
    text-align: center;
    padding: 20px 0px;
    color: white;
}

header {
    background-image: url(./img/screenshot_1.jpg);
    background-position: center 62%;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    flex-direction: row;
    display: flex;
}

.imagewarpper {
    padding: 20px;
}

.imagewarpper img {
    justify-content: center;
    align-items: center;
    display: flex;
}

#slidingimg_wrapper {
    justify-content: center;
    padding: 30px;
    display: flex;
}

main {
    padding: 10px;
}

main h1 {
    font-family: 'Passion One';
    margin-bottom: 10px;
    font-weight: 400;
    text-decoration: underline;
}

main p {
    font-family: 'Changa';
    text-align: justify;
    line-height: 1.3em;
    font-weight: 500;
    font-size: 1.1em;
}

main ul {
    padding-left: 30px;
    margin-top: 5px;
}

main iframe {
    aspect-ratio: 16 / 9;
    max-width: 700px;
    width: 100%;
}

.buttons {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    max-width: 700px;
}

.buttons button {
    background-color: #c0c000;
    border-radius: 10px;
    border: none;
    flex-grow: 1;
    margin: 10px;
}

.buttons button span {
    transition: transform 100ms cubic-bezier(.3, .7, .4, 1.5);
    transform: translateY(-2px);
    border: 2px solid #c0c000;
    background-color: #ffff24;
    border-radius: 10px;
    display: block;
    padding: 8px;
}

.buttons button span:hover {
    transform: translateY(-4px);
}

.buttons button span:active {
    transform: translateY(0px);
}
